table,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    td {
      width:32px;
      height:32px;
      background-color: gray;
      
    }

div {
    text-align: center;
}