.cell {
    width: 32px;
    height: 32px;
    background-color: lightgray;
}

.opened {
    border: none;
    font-size: 15px;
}

.cell {
    font-weight: bold;
    &-1 {
        color: blue;
    }
    &-2 {
        color: green;
    }
    &-3 {
        color: red;
    }
    &-4 {
        color: purple;
    }
    &-5 {
        color: maroon;
    }
    &-6 {
        color: turquoise;
    }
    &-7 {
        color: black;
    }
    &-8 {
        color: gray;
    }
}
